<h1>Manager</h1>

<a asp-controller="Admin" asp-action="Administrator">Administrator</a>
<a asp-controller="Home" asp-action="Index">Home</a>

<p>User: @ViewBag.Name</p>
<p>IsAuthenticated: @ViewBag.IsAuthenticated</p>