<h1>Administrator</h1>

<a asp-controller="Admin" asp-action="Manager">Manager</a>
<a asp-controller="Home" asp-action="Index">Home</a>

<p>User: @ViewBag.Name</p>
<p>IsAuthenticated: @ViewBag.IsAuthenticated</p>